[submodule "Omni_Pre_Processor"]
	path = src/Omni_Pre_Processor
	url = https://github.com/1StepMore/Omni_Pre_Processor.git
	branch = main
[submodule "Omni_Localizer"]
	path = src/Omni_Localizer
	url = https://github.com/1StepMore/Omni_Localizer.git
	branch = main
[submodule "Omni_Re_Formatter"]
	path = src/Omni_Re_Formatter
	url = https://github.com/1StepMore/Omni_Re_Formatter.git
	branch = main
